*{
    background-color:black;
    color:white;
}

section h1, p, form{
    text-align:center;
}

p{
    font-size:large;
}

#weatherDisplay{
    text-align:center;
}

input{
    color:black;
    background-color:aliceblue;
}

button{
    background-color:wheat;
    color:black;
    padding:5px;
    margin:5px;
    border:none;
    border-radius:5px;
}

button:hover{
    background-color:rgb(68, 68, 209);
    color:whitesmoke;
}

@media screen and (max-width: 600px){
    section{
        font-size:1rem;
    }

    button{
        width:80%;
        font-size:1rem;
    }

    iframe{
        max-width:600vw;
    }

    hr{
        width:100%;
    }

    #weatherDisplay{
        font-size:1rem;
    }
}